{% assign emptyarray = "" | split: "," %}
{% assign data = site.data[include.data]
  | default: site[include.data]
  | default: emptyarray
  | data_filter: include.filter
%}

{% assign years = data
  | group_by_exp: "d", "d.date | date: '%Y'"
  | sort: "name"
  | reverse
%}

{% assign total_citations = 0 %}
{% for year in years %}
  {% assign total_citations = total_citations | plus: year.items.size %}
{% endfor %}

{% assign citation_number = total_citations %}
{% assign current_year = "" %}

{% for year in years %}
  {% assign data = year.items | sort: "date" | reverse %}
  {% if years.size > 1 and current_year != year.name %}
    {% assign current_year = year.name %}
    <h3 class="year-marker">{{ year.name }}</h3>
  {% endif %}
  
  {% for d in data %}
    {% assign style = d.style | default: include.style %}
    {%
      include {{ include.component | append: ".html" }}
      number=citation_number
      affiliation=d.affiliation
      author=d.author
      authors=d.authors
      buttons=d.buttons
      caption=d.caption
      content=d.content
      date=d.date
      description=d.description
      excerpt=d.excerpt
      height=d.height
      icon=d.icon
      id=d.id
      image=d.image
      last_modified_at=d.last_modified_at
      link=d.link
      lookup=d.lookup
      name=d.name
      publisher=d.publisher
      repo=d.repo
      role=d.role
      slug=d.slug
      style=style
      subtitle=d.subtitle
      tags=d.tags
      text=d.text
      title=d.title
      tooltip=d.tooltip
      type=d.type
      url=d.url
      width=d.width
    %}
    {% assign citation_number = citation_number | minus: 1 %}
  {% endfor %}
{% endfor %}
