{% assign emptyarray = "" | split: "," %}
{% assign data = site.data[include.data]
  | default: site[include.data]
  | default: emptyarray
  | data_filter: include.filter
%}

{% assign years = data
  | group_by_exp: "d", "d.date | date: '%Y'"
  | sort: "name"
  | reverse
%}

{% for year in years %}
  {% assign data = year.items %}

  {% if years.size > 1 %}
    {{--}}<h3 id="{{ year.name }}">{{ year.name }}</h3>
    {% assign data = data | sort: "date" | reverse %}
  {% endif %}

  {% assign citation_number = 1 %}
  {% for d in data %}
    {% assign style = d.style | default: include.style %}
    {%
      include {{ include.component | append: ".html" }}
      number=citation_number
      affiliation=d.affiliation
      author=d.author
      authors=d.authors
      date=d.date
      description=d.description
      id=d.id
      image=d.image
      link=d.link
      publisher=d.publisher
      style=style
      title=d.title
    %}
    {% assign citation_number = citation_number | plus: 1 %}
  {% endfor %}
{% endfor %}
